.topmenu {
	position:relative;
	width:100%;
	height:45px;
	line-height:45px;
	vertical-align:top;
	text-align:center;
	background:url(../images/menu/tmenu.png) repeat-x;
	background-position:50% 0%;
	padding:0;
	margin:0;
}

.topmenu div, .topmenu span {
	position:relative;
	clear:none;
	margin:0;
	padding:0;
	height:45px;
	display:inline-block;
	vertical-align:top;
}

.topmenu a {
	margin:0;
	background:url(../images/menu/tmenu.png) transparent center top repeat-x;
	color:#FFFFFF;
	font-size:20px;
	text-decoration:none;
	line-height:45px;
	top:0;
	vertical-align:top;
	padding:0 10px 0 10px;
	display:inline-block;
}

.topmenu a:hover {
	background:url(../images/menu/tmenu2.png) transparent center top repeat-x;
	color:#000000;
}

.topmenu .current {
	margin:0;
	background:url(../images/menu/tmenu2.png) transparent center top repeat-x;
	color:#000000;
	font-size:20px;
	text-decoration:none;
	line-height:45px;
	top:0px;
	vertical-align:top;
	padding:0 10px 0 10px;
}

.topmenu .current :hover {
	background:url(../images/menu/tmenu2.png)transparent center top repeat-x;
	color:#000000;
}

.tMenuSeperator{
	position:relative;
	background:url(../images/menu/tmenu2.png)transparent center top repeat-x;
	width:5px;
	clear:none;
	padding: 0;
	margin: 0;
	display:inline-block;
}

.tMenuSeperator2{
	position:relative;
	background:url(../images/menu/tmenu2.png)transparent center repeat-x;
	width:2px;
	clear:none;
	padding: 3px 0 3px 0;
	margin: 0;
	display:inline-block;
}

.dropdown ul{
	position:absolute;
	display:none;
	background:url(../images/menu/tmenu.png) repeat;
	top:45px;
	text-align:left;
	margin: 0;
	padding:0;
	z-index:100;
}

.dropdown ul a {
	padding:0 10px 0 10px;
	display:inline-block;
	background:url(../images/menu/tsmenu.png) transparent center repeat-x;
	margin:0;
	list-style:none;
	color:#FFFFFF;
	font-size:15px;
	text-decoration:none;
	line-height:25px;
	height:25px;
	width:100%;
	vertical-align:middle;
	white-space:nowrap;
}

.dropdown ul a li {
	background:transparent;
}

.dropdown ul.hover {
	display:block;
}

.dropdown ul a:hover {
	background:url(../images/menu/tsmenu2.png) transparent center repeat-x;
	color:#ffffff;
}

.topsubmenu {
	position:relative;
	display:block;
	margin:0;
	padding:0;
	width:100%;
	background:url(../images/menu/tsmenu.png) repeat-x center transparent;
	line-height:25px;
	height:25px;
	vertical-align:top;
	text-align:center;
}

.topsubmenu div, .topsubmenu span {
	position:relative;
	clear:none;
	margin:0;
	padding:0;
	height:25px;
	display:inline-block;
	vertical-align:top;
}

.topsubmenu a {
	margin:0;
	background:url(../images/menu/tsmenu.png) transparent center repeat-x;
	color:#FFFFFF;
	font-size:15px;
	text-decoration:none;
	line-height:25px;
	height:25px;
	vertical-align:top;
	padding:0 10px 0 10px;
	display:inline-block;
}

.topsubmenu a:hover {
	background:url(../images/menu/tsmenu2.png) transparent center repeat-x;
	color:#ffffff;
}
