#topmenu {
	position:relative;
	width:100%;
	height:45px;
	vertical-align:op;
	text-align:center;
	background-image:url(../images/menu/tmenu.png);
	background-position:50% 0%;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

#topmenu a {
	margin:0;
	background:url(../images/menu/tmenu.png) transparent center top repeat;
	height:45px;
	color:#FFFFFF;
	font-size:20px;
	text-decoration:none;
	line-height:45px;
	top:0px;
	vertical-align:top;
	padding:3px 10px 3px 10px;
}

#topmenu a:hover {
	background:url(../images/menu/tmenu2.png) transparent center top repeat;
	color:#000000;
}

#topmenu #current {
	margin:0;
	background:url(../images/menu/tmenu2.png) transparent center top repeat;
	height:45px;
	color:#000000;
	font-size:20px;
	text-decoration:none;
	line-height:45px;
	top:0px;
	vertical-align:top;
	padding:3px 10px 3px 10px;
}

#topmenu #current :hover {
	background:url(../images/menu/tmenu2.png)transparent center top repeat;
	color:#000000;
}

.tMenuSeperator{
	position:relative;
	background:url(../images/menu/tmenu2.png)transparent center top repeat;
	height:45px;
	width:5px;
}

#topsubmenu {
	position:relative;
	margin:0;
	padding:0;
	width:100%;
	background:url(../images/menu/tsmenu.png)  repeat center transparent;
	height:25px;
	vertical-align:top;
	text-align:center;
}

#topsubmenu a {
	margin:0;
	background:url(../images/menu/tsmenu.png) transparent center repeat;
	height:25px;
	color:#FFFFFF;
	font-size:20px;
	text-decoration:none;
	line-height:25px;
	top:0;
	vertical-align:top;
	padding:0px 10px 0px 10px;
}

#topsubmenu a:hover {
	background:url(../images/menu/tsmenu2.png) transparent center repeat;
	color:#ffffff;
}

#topsubmenu #current {
	margin:0;
	background:url(../images/menu/tsmenu2.png) transparent center repeat;
	height:25px;
	color:#ffffff;
	font-size:20px;
	text-decoration:none;
	line-height:25px;
	top:0;
	vertical-align:op;
	padding:0px 10px px 10px;
}

#topsubmenu #current :hover {
	background:url(../images/menu/tsmenu2.png)transparent center repeat;
	color:#ffffff;
}





